.box-list
	margin-bottom: 50px
	padding-bottom: 50px
	border-bottom: 1px solid $main
	+md
		margin-bottom: 100px
		padding-bottom: 100px

.box-single
	padding: 40px 0 40px
	+md
		padding: 120px 0 80px

.single-related-posts
	border-top: 1px solid $main
	padding: 40px 0

.box-service-contact
	margin: 136px 0
	text-align: center
	img
		width: 68px
		margin-bottom: 40px
	p
		font-size: 20px
		color: $gold-light
		margin-bottom: 40px

.box-faq
	max-width: 640px
	margin: 80px auto
	color: #fff
	h2
		font-size: 24px
		margin-bottom: 60px
		text-align: center

.box-sm
	max-width: 580px
	margin-left: auto
	margin-right: auto

.box-news
	max-width: 666px
	margin: 0 auto
	border: 1px solid $major-light
	background-color: #fff
	padding: 40px 60px
	.news-info
		display: flex
		align-items: center
		justify-content: space-between
		margin: 0 0 1rem
		.list-counts
			display: flex
			align-items: center
			color: $major
			list-style: none
			margin: 0
			padding: 0
			li
				display: flex
				align-items: center
				margin-left: 1rem
				span
					margin-right: 4px
					font-size: 18px
	.news-message
		font-size: 18px
		line-height: 1.85
		word-break: break-all

.box-subscribe
	padding: 3rem 0 5rem
	form
		input
			border: 1px solid $gold-light
			background-color: $main-ultra-dark
			height: 40px
			border-radius: 5px
			padding: 0 16px
			color: #fff

	.input-wrap
		display: flex
		align-items: flex-end
		flex-wrap: wrap
		gap: 1rem
		> div
			position: relative
			width: 100%
			min-width: 100%
			+md
				width: auto
				min-width: auto
			label
				font-size: 14px
				display: block
			span
				font-size: 12px
				display: block
				+md
					position: absolute
					bottom: -28px
					left: 0
					
	.content
		display: none
		&.active
			display: block
	.result
		padding: 1rem 0
		h3
			margin: 0
		button
			margin-top: 1rem