.box-list
	margin-bottom: 100px
	padding-bottom: 100px
	border-bottom: 1px solid $main

.box-single
	padding: 120px 0 80px

.single-related-posts
	border-top: 1px solid $main
	padding: 40px 0

.btn-major
	border: 1px solid $major
	color: $major
	padding: 12px 24px
	&:hover
		color: $major

.service-contact
	margin: 136px 0
	text-align: center
	img
		width: 68px
		margin-bottom: 40px
	p
		font-size: 20px
		color: $gold-light
		margin-bottom: 40px
