.box-list
	margin-bottom: 100px
	padding-bottom: 100px
	border-bottom: 1px solid $main

.box-single
	padding: 120px 0 80px

.single-related-posts
	border-top: 1px solid $main
	padding: 40px 0

.btn-major
	border: 1px solid $major
	color: $major
	padding: 12px 24px
	&:hover
		color: $major

.service-contact
	margin: 136px 0
	text-align: center
	img
		width: 68px
		margin-bottom: 40px
	p
		font-size: 20px
		color: $gold-light
		margin-bottom: 40px

.box-faq
	max-width: 640px
	margin: 80px auto
	color: #fff
	h2
		font-size: 24px
		margin-bottom: 60px
		text-align: center
	ul
		list-style:  none
		margin: 0
		padding: 0
		li
			margin-bottom: 1rem
			&.active
				> div
					display: block
			h3
				font-size: 18px
				cursor: pointer
			> div
				display: none

