$blue: #31A7C1

$main: #316C7A
$main-light: #6CB0C0
$main-dark: #12505c
$main-ultra-dark: #093640

$major: #ca7755
$major-light: #CFB194

$gold-light: #DEC6A7

$radius: 5px

$gray: #636363
$gray-dark: #333
$gray-light: #aaa
$light: #f2f2f2

$border: #9cbcc3
