body
	font-family: 'Montserrat', 'Noto Sans TC', sans-serif !important
	font-size: 16px
	line-height: 1.6
	color: $gray
	letter-spacing: 3px

.dark-theme
	background-color: $main-dark
	color: $gold-light

a
	color:  $blue
	transition: .4s
	&:hover
		color: darken($blue, 10%)

.container
	// max-width: 1140px
	padding: 0 1.5rem

.wp-block-quote
	border-color: $major-light
