body
	font-family: 'Montserrat', 'Noto Sans TC', sans-serif !important
	font-size: 16px
	line-height: 1.85
	color: $gray
	letter-spacing: .05em
	padding-top: 60px
	background-color: #f1f1f1
	+lg
		padding-top: 80px

h1, h2, h3, h4, h5, h6
	line-height: 1.5

.dark-theme
	background-color: $main-dark
	color: $gold-light
	.header-main
		background-color: $main-dark

a
	color:  $blue
	transition: .4s
	&:hover
		color: darken($blue, 10%)

.container
	padding: 0 1.5rem

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	-webkit-appearance: none