.header-main
	border-bottom: 1px solid $border
	position: relative
	position: fixed
	top: 0
	left: 0
	z-index: 99
	width: 100%
	background-color: #fff
	height: 60px
	+lg
		height: 80px
	.container
		display: flex
		justify-content: space-between
		align-items: center
		height: 60px
		position: relative
		+lg
			height: 80px
			padding-right: 88px
	h1
		margin-bottom: 0
		+llg
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
		a
			display: block

		img
			display: block
			height: 36px
			+lg
				height: 48px

.nav-main
	li.lang
		padding: 5px 0
		text-align: center
		a, span
			color: $main !important
	+llg
		position: absolute
		top: 60px
		left: 0
		z-index: 9
		width: 100%
		background-color: #fff
		max-height: 0
		overflow: hidden
		transition: .4s
		box-shadow: 0 4px 8px rgba(0, 0, 0, .2)
		> ul
			list-style: none
			margin: 0
			padding: 0
			> li
				border-bottom: 1px solid $border
				a
					text-decoration: none
					display: block
					padding: 8px 20px
					color: $main
					text-align: center
	+lg
		ul
			list-style: none
			display: flex
			align-items: center
			margin: 0
			padding: 0
			li
				margin-left: 20px
				&.highlight
					a
						background-color: $gold-light
						color: $gray-dark
				a
					display: block
					padding: 8px 20px
					color: $main
					font-size: 18px
					text-decoration: none
					transition: .4s
					&:hover
						color: $main-dark
					.material-icons
						position: relative
						top: 4px

.btn-nav-main
	margin: 0 0 0 auto
	cursor: pointer
	i
		display: block
		width: 24px
		height: 2px
		background-color: $main
		transition: .2s
		opacity: 1
		&:not(:last-child)
			margin-bottom: 4px
	+lg
		display: none

.open-nav-main
	.nav-main
		max-height: 500px
	.btn-nav-main
		i
			position: relative
			&:nth-child(1)
				transform: rotate(45deg)
				top: 4px
			&:nth-child(2)
				opacity: 0
			&:nth-child(3)
				transform: rotate(-45deg)
				bottom: 8px
	.box-search
		display: block

.dark-theme
	.nav-main
		li.lang
			a, span
				color: #fff !important
		+llg
			> ul
				> li
					background-color: $main-dark
					> a
						color: #fff
						background-color: $main-dark
		+lg
			> ul
				> li
					&:last-child
						> a
							color: $gray-dark
					> a
						color: #fff
	.btn-nav-main
		i
			background-color: #fff

.header-page
	margin: 40px 0
	+md
		margin: 80px 0
	h1
		font-size: 36px
		padding: 0 0 0 24px
		position: relative
		font-weight: 700
		color: $main
		margin-bottom: 20px
		line-height: 1
		+md
			font-size: 48px
		&:first-letter
			text-transform: uppercase
		&::before
			display: block
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 5px
			height: 100%
			background: linear-gradient(to bottom, $main, $main-light)
		span
			font-size: 22px
			display: block
			margin-top: 8px
			+md
				font-size: 28px
	p
		color: $gray
		padding-left: 24px
		font-size: 16px
		+md
			font-size: 20px

.header-page-service
	text-align: center
	margin: 40px 0
	+md
		margin: 80px 0
	h1
		font-size: 24px
		color: #fff
		+md
			font-size: 36px
		span
			font-size: 16px
			display: block
			margin-top: 10px
			+md
				font-size: 18px
	p
		margin: 20px auto 0
		max-width: 720px
		font-size: 14px
		color: #fff
		+md
			margin-top: 60px
			font-size: 16px

.header-category
	position: relative
	margin-bottom: 24px
	padding-right: 40px
	+md
		margin-bottom: 48px
	h2
		color: $main
		font-size: 24px
		font-weight: 700
		margin: 0
		+md
			font-size: 36px
		span
			font-size: 18px
			font-weight: 500
			display: block
			margin-top: .5rem
			+md
				font-size: 24px
	a
		position: absolute
		right: 1rem
		top: 50%
		transform: translateY(-50%)
	svg
		path
			fill: $main 

.header-page
	.container
		position: relative
		a
			position: absolute
			right: 1rem
			top: 50%
			transform: translateY(-50%)
	svg
		path
			fill: $main 

.dark-theme
	.header-category
		h2
			color: $gold-light
		svg
			path
				fill: $gold-light
	.header-page
		svg
			path
				fill: $gold-light
	.box-search
		+llg
			background-color: $main-dark
			input
				border: 0
		+lg
			.btn-search
				color: #fff

.box-search
	label, .search-submit
		display: none
	input
		top: 50%
		background-color: #fff
		border: 1.5px solid $main-light
		padding: 6px 24px
		color: $main
		border-radius: 100px
		&:focus
			outline: 0
	+llg
		display: none
		position: relative
		background-color: #fff
		padding: 1rem
		text-align: center
		.btn-search-close
			display: none
		form
			input
				left: 50%
				width: 240px
				height: 40px
		.btn-search
			display: none
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			color: #fff
	+lg
		margin-left: 2rem
		position: absolute
		right: 3rem
		top: 50%
		z-index: 999
		transform: translateY(-50%)
		&.open
			form
				width: 380px
				height: 48px
				input
					width: 340px
			.btn-search
				display: none
			.btn-search-close
				display: block
		form
			position: absolute
			right: -1rem
			top: 50%
			transform: translateY(-50%)
			width: 0
			height: 0
			overflow: hidden
			input
				position: absolute
				right: 0px
				transform: translateY(-50%)
				width: 0
				height: 48px
				transition: .4s    
		span
			cursor: pointer
			color: $main
		.btn-search
			color: $main
			span
				position: relative
				top: 4px
		.btn-search-close
			display: none
			position: absolute
			right: 0
			top: 50%
			transform: translateY(-50%)
			color: $main

.site-notice
	transition: .4s
	opacity: 1
	visibility: visible
	a
		display: block
		background-color: $gold-light
		color: #003F48
		text-align: center
		text-decoration: none
		padding: 8px
		font-weight: bold

.down
	.site-notice
		opacity: 0
		visibility: hidden

	
