.header-main
	border-bottom: 1px solid $border
	.container
		display: flex
		justify-content: space-between
		align-items: center
		height: 140px
	h1
		a
			display: block
		img
			height: 52px

.nav-main
	ul
		list-style: none
		display: flex
		margin: 0
		padding: 0
		li
			margin-left: 20px
			&:last-child
				a
					background-color: $gold-light
			a
				display: block
				padding: 15px 20px
				color: $main
				font-size: 18px
				text-decoration: none

.dark-theme
	.nav-main
		ul
			li
				&:last-child
					a
						color: $main
				a
					color: #fff
