.index-welcome
	padding: 96px 0 48px
	border-bottom: 1px solid $gold-light
	h2
		font-size: 34px
		margin-bottom: 2rem
	p
		color: #fff
		font-size: 18px

.index-service, .index-projects
	border-bottom: 1px solid $gold-light
