.list-shares
	list-style: none
	margin: 120px auto 60px
	padding: 10px
	border-top: 1px solid $main
	display: inline-flex
	li
		&:not(:last-child)
			margin-right: 20px
		a
			img
				height: 24px

.list-categories
	a
		color: $major
		&:not(:last-child)
			&::after
				content: "．"
				display: inline
				margin: 0 -8px 0 0

.dark-theme
	.list-categories
		color: #fff
		a
			color: #fff

.list-service
	list-style: none
	margin: 0
	padding: 0
	> li
		margin-bottom: 24px
		+md
			margin-bottom: 48px
		a
			display: block
			text-decoration: none
			border: 1px solid $gold-light
			padding: 24px
			height: 100%
			position: relative
			top: 0
			border-radius: 5px
			+md
				padding: 48px
			&:hover
				top: -3px
		img
			width: 80%
			display: block
			margin: 0 auto 24px
			+md
				margin-bottom: 48px
		h2
			color: $gold-light
			font-size: 22px
			+md
				font-size: 28px
			span
				font-size: 18px
				display: block
				margin-top: .5rem
				+md
					font-size: 24px
		p
			font-size: 14px
			color: #fff
			margin: 0
			+md
				font-size: 16px
