.list-shares
	list-style: none
	margin: 120px auto 60px
	padding: 10px
	border-top: 1px solid $main
	display: inline-flex
	li
		&:not(:last-child)
			margin-right: 20px
		a
			img
				height: 24px

.list-categories
	list-style: none
	margin: 0
	padding: 0
	display: flex
	li
		color: $major
		&:not(:last-child)
			&::after
				content: "．"
				display: inline
		a
			color: $major

.list-service
	list-style: none
	margin: 0
	padding: 0
	> li
		margin-bottom: 48px
		a
			display: block
			text-decoration: none
			border: 1px solid $gold-light
			padding: 48px
			height: 100%
		img
			width: 80%
			display: block
			margin: 0 auto 48px
		h2
			color: $gold-light
			font-size: 28px
			span
				font-size: 24px
				display: block
				margin-top: .5rem
		p
			font-size: 16px
			color: #fff
