.nav-links
	margin: 3rem 0
	display: flex
	justify-content: center
	width: 100%
	.page-numbers
		display: none
	.prev, .next
		display: block
		text-decoration: none
		margin: 0 2rem
		color: $gray-light
		&:hover
			color: $gray
		span
			font-size: 36px
