.post-item
	margin-bottom: 40px
	a
		text-decoration: none

.post-img
	padding-top: 66.6666%
	position: relative
	border: 1px solid $major-light
	radius: $radius
	margin-bottom: 16px
	img
		position: absolute
		left: 50%
		top: 0
		max-width: 100%
		max-height: 100%
		transform: translateX(-50%)

.post-sub-cat
	color: $major
	margin-bottom: 10px

.post-title
	font-size: 24px
	color: #000
	margin-bottom: 10px
