.post-item
	margin-bottom: 40px
	a
		text-decoration: none
		color: $gray
	.post-img
		padding-top: 66.6666%
		position: relative
		// border: 1px solid $major-light
		border-radius: $radius
		margin-bottom: 16px
		img
			position: absolute
			left: 50%
			top: 0
			max-width: 100%
			max-height: 100%
			transform: translateX(-50%)

	.post-sub-cat
		color: $major
		margin-bottom: 10px

	.post-title
		a
			font-size: 24px
			color: #000
			line-height: 1.5
			margin-bottom: 10px

.dark-theme
	.post-item
		.post-title
			a
				color: $gold-light

.post-list-tag
	display: flex
	list-style: none
	padding: 0
	margin: 0 0 .5rem
	li
		margin-right: .5rem
		a
			color: $major
			font-size: 16px
			text-decoration: none
			&::before
				content: "#"
				display: inline

.post-date
	font-size: 16px
	color: $major

.post-text-item
	margin-bottom: 1rem
	a
		color: $gray
	> div
		border: 1px solid $major-light
		border-radius: $radius
		padding: 24px
		a
			text-decoration: none
		p
			font-size: 16px
			+md
				font-size: 18px

.dark-theme
	.post-item
		.post-title
			color: #fff
