.single-related-posts
	> h2
		margin-bottom: 60px
	.post-title
		font-size: 20px
		color: $gray-dark
		font-weight: 500

.single-title
	font-size: 24px
	font-weight: bold
	color: $gray-dark
	margin-bottom: 20px
	+md
		font-size: 36px
		margin-bottom: 40px

.single-content
	h2
		font-size: 24px
		font-weight: 700
		color: $main
		border-left: 3px solid $major
		padding-left: 1rem
		margin-top: 1.75rem
	p
		font-size: 18px
		margin-bottom: 1rem

.copy-link
	position: relative
	&.done span
		display: block
	span
		display: none
		position: absolute
		right: -8px
		top: -6px
		font-size: 12px
		background-color: #fff
		border: 1px solid $main
		color: $main
		border-radius: 50%
