.single-related-posts
	> h2
		margin-bottom: 60px
	.post-title
		font-size: 20px
		color: $gray-dark
		font-weight: bold

.single-title
	font-size: 24px
	font-weight: bold
	color: $gray-dark
	margin-bottom: 20px
	text-align: center
	+md
		font-size: 36px
		margin-bottom: 40px

.single-content
	h1
		font-size: 32px
	h2
		font-size: 28px
		// font-weight: 700
		// color: $main
		// border-left: 4px solid $major
		// padding-left: 1rem
		// margin: 1.75rem 0 1rem
	h3
		font-size: 24px
		// font-weight: 700
		// color: $gray-dark
	h4
		font-size: 20px
		// font-weight: 700
		// color: $gray
	h5
		font-size: 18px
	h6
		font-size: 16px
	p
		font-size: 18px
		margin-bottom: 1rem
		line-height: 1.85
		color: $gray-dark
	a
		color: $major
		text-underline-offset: 5px
	img
		max-width: 100% !important
		height: auto !important

.dark-theme
	.single-content
		h2
			color: #fff
			border-color: $gold-light
		p, h3, h4, h5, h6
			color: #fff

.copy-link
	position: relative
	&.done span
		display: block
	span
		display: none
		position: absolute
		right: -8px
		top: -6px
		font-size: 14px
		color: $main

.news-title
	font-size: 24px
	color: $major
	font-weight: 500
