.single-related-posts
	> h2
		margin-bottom: 60px
	.post-title
		font-size: 20px

.single-title
	font-size: 24px
	color: $main
	margin-bottom: 20px
	+md
		font-size: 36px
		margin-bottom: 60px
		text-align: center

.single-content
	h2
		font-size: 24px
		color: $main
