.wp-block-gallery
    +lg
        display: flex
    > figure
        margin-bottom: 1rem !important
        +lg
            margin-right: 1rem !important

.wp-block-quote
    border-color: $major-light
    margin-left: 3rem

.wp-block-pullquote
    border-color: $major
    blockquote
        margin: 0
    p
        font-size: 22px
        font-weight: 500
        color: $gray-dark
    cite
        font-size: 14px
        font-weight: 400
        color: $gray-dark