.wp-block-gallery
    +lg
        display: flex
    > figure
        margin-bottom: 1rem !important
        +lg
            margin-right: 1rem !important

.wp-block-quote
    border-color: $major-light
    border-width: 2px
    margin-left: 3rem

.wp-block-pullquote
    border-color: $major
    blockquote
        margin: 0
    p
        font-size: 22px
        font-weight: 500
        color: $gray-dark
    cite
        font-size: 14px
        font-weight: 400
        color: $gray-dark
        &::before
            content: ""
            display: inline-block
            height: 1px
            width: 32px
            background-color: $gray-light
            margin-right: 8px
            position: relative
            bottom: 4px

.wp-block-code
    background-color: #e6e6e6
    border: 0

.page-blank
    .container
        max-width: 920px
    img
        max-width: 100%

.wp-block-columns
    gap: 2rem

.wp-block-buttons
    display: flex
    justify-content: center
    margin: 1rem 0
    gap: 1rem
.wp-element-button
    border: 1px solid $main
    color: $main !important
    background-color: #fff
    padding: 12px 24px
    border-radius: 4px
    &:hover
        color: $main

.wp-block-buttons.is-content-justification-center
    justify-content: center !important

.wp-block-image
    &.aligncenter
        margin-left: auto
        margin-right: auto
    &.alignright
        margin-left: auto
    .aligncenter
        text-align: center
    .alignright
        text-align: right